package page

import (
	"github.com/tyspice/spicenet/view/component"
	"github.com/tyspice/spicenet/view/layout"
)

templ Home() {
	@layout.Base() {
		<div class="flex flex-col justify-center h-full">
			@component.Hello()
		</div>
	}
}
